@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Libre+Caslon+Display&family=Old+Standard+TT:wght@400;700&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
/*
    font-family: 'DM Serif Display', serif;
    --------------------------------------------
    font-family: 'Libre Caslon Display', serif;
    --------------------------------------------
    font-family: 'Old Standard TT', serif;
    --------------------------------------------
    font-family: 'Oranienbaum', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(8px + .5vw)
}

body {
    background-color: white;
    color: white;
    font-family: 'Libre Caslon Display', serif;
}


.italic {
    font-style: italic;
    font-size: 1.2rem;
}

#title {
    font-size: 4rem;
    font-weight: 900;
    font-variant: small-caps;
}
    #light {
        color: rgba(255, 255, 255, .4);
        font-weight: 400;
        font-size: 2.6rem;
        font-style: italic;
    }
    .alived-time {
        font-style: italic;
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }

header {
    position: relative;
    background: #000;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;    
}

.header-container {
    display: flex;
    flex-direction: row;
    margin: 0 120px;
    justify-content: space-evenly;
    align-items: center;
}
    #img-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-style: italic;
    }
        #img-caption {
            margin: -1.5rem auto;
            text-shadow: 0 0 2px #000
        }

    .profile-img {
        height: 28vw;
        box-shadow: inset 0 0 50px black;
    }
    .profile-content{
        display: flex;
        flex-direction: column;
        width: 50vw;
    }
        .profile-data {
            letter-spacing: 1rem;
        }
        q {
            font-family: 'Sacramento', cursive;
            font-size: 2.5rem;
            font-style: italic;
        }
        address {
            font-size: 2rem;
            display: flex;
            justify-content: right;
        }

    .rotated-grey-shape {
        height: 600px;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left:0;
    }
        #shape1{
            background-color: rgba(0, 0, 0, .3);
            transform: rotate(1.5deg);
            transform-origin: 0% 0%;
        }
        #shape2{
            background-color: rgba(0, 0, 0, .3);
            transform: rotate(1deg);
            transform-origin: 0% 0%;
        }
        #shape3{
            background-color: rgba(0, 0, 0, .3);
            transform: rotate(.5deg);
            transform-origin: 0% 0%;
        }

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    font-family: 'Old Standard TT', serif;
    color: #000;
    z-index: 0;
    font-size: 1.6rem;
}

    hr {
        border-color: rgb(243, 243, 243);
    }
    main section {
        width: 100%;
        padding: 0 6rem;
    }
        main section:nth-of-type(even) {
            margin-top: 3rem;
            background-color: hsl(108, 25%, 94%);
        }
    main .content {
        width: 95vw;
        text-align: justify;
        line-height: 1.8;
    }
    main .content p {
        text-indent: 4rem;
    }
    main aside {
        line-height: 1.8;
        width: 25vw;
        padding: 0 80px;
        border-left: 1px solid rgb(37, 37, 37);
        /* padding: 0 0 0 5rem; */
    }
    main .section-photo {
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        color: rgb(37, 37, 37);
        font-style: italic;
        transform: scale(0.96);
        transition: transform 500ms ease-in;
        width: max-content;
    }
    main .section-photo:hover {
        cursor: default;
        transform: scale(1);
        transition: transform 500ms ease-in;
    }
        main .section-photo img {
            width: 43vw;
            position: relative;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.692);
            transition: box-shadow 500ms ease-in-out;
        }
        main .section-photo:hover img {
            box-shadow: 6px 1.5rem 2rem -15px rgba(0, 0, 0, 0.692);
            transition: box-shadow 500ms ease-in-out;
        }
        
        main .section-photo figcaption {
            font-size: calc(0.6rem + .5vw);
            position: absolute;
            width: 43vw;
            bottom: 0;
            left:0;
            background-color: #fff;
            /* margin-top: -2.2rem; */
            align-self: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.185)
        }
h2 {
    font-size: 3.5rem;
    margin: 5rem 0 1rem 0;
    text-indent: 0;
    padding: 0;
}
.article-container {
    margin-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}
.original-article {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .original-article .article-img {
        width: 90%;
        height: min-content;
    }
.article-content {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
    .article-content h3 {
        letter-spacing: 11px;
    }
    .article-content figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-content figcaption{
        font-weight: bolder;
        font-size: 1.2rem;
    }
    .article-header-img {
        width: 95%;
        margin: 0 auto;
    }
    .article-content article {
        font-family: 'Old Standard TT', serif;
        font-size: 1.4rem;
        line-height: 1.5;
        margin: 2rem 0 0 2rem;
        column-count: 2;
        column-gap: 30px;
    }
.icon-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
    .icon-heading #timeline-button {
        top: 40px;
        background-color: hsl(0, 0%, 50%);
        font-size: 3.5rem;
        margin: 5rem 1rem 1rem 0;
        cursor: pointer;
        padding: .5rem;
        border: 1px solid #fff;
        border-radius: 10%;
        transform: rotate(0deg);
        transition: transform 500ms ease-out;
    }
    #timeline-button:hover {
        filter: brightness(1.1);
        box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .7)
    }
    #timeline-button.rotated {
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(0, 0%, 0%);
        transform: rotate(-90deg);
        transition: transform 500ms ease-in;
    }

.timeline-off {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 50%);
    color: #fff;
    width: 130px;
    padding: 30px;
    transition: width 800ms ease, background-color 800ms ease;
}
.timelined {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    width: 25vw;
    transition: width 800ms ease, background-color 800ms ease;
}

.timeline {
    border-left: 2px solid #000;
    padding: 0 0 0 2rem;
    filter: opacity(100%);
    transition: filter 800ms ease;
}
    .timeline div {
        margin-bottom: 2rem;
        position: relative;
        line-height: 1
    }
        .timeline div::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid rgb(46, 46, 46);
            background-color: #000;
            position: absolute;
            top: 10px;
            left: -2.5rem;
        }
    .timeline span {
        display: block;
        margin-bottom: .8rem;
    }
    .timeline .date-lifetime{
        font-size: 1.3rem;
        font-weight: bold;
        font-style: italic;
    }
    .timeline .happened-lifetime{
        font-size: 1.3rem;
    }

    .timeline .content-lifetime {
        font-size: 1.2rem;
        line-height: 1.3;
        font-style: italic;
    }

.gallery-area {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .gallery-area .small-thumbs {
        height: 180px;
        margin: 0.5rem 0.2rem;
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.692);        
        transition: transform 500ms ease-in, box-shadow 500ms ease-in-out;
    }
    .gallery-area .small-thumbs:hover {
        transform: scale(1);
        box-shadow: 6px 1.5rem 1rem -15px rgba(0, 0, 0, 0.692);
        transition: transform 500ms ease-in, box-shadow 500ms ease-in-out;
        cursor: zoom-in;
    }
    .gallery-area img {
        border: 4px solid hsl(108, 25%, 65%);
    }
    .gallery-area video {
        border: 4px solid hsl(210, 100%, 82%);
    }

footer {
    background-color: #000;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2rem;
}
    footer .developer-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px dashed #fff;
    }
    .developer-section a {
        display: inline;
    }
        #myName:hover {
            font-weight: bold;
        }
    footer .links {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 2rem 6rem 8rem 6rem;
    }
    footer .icon-urls {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer .icon-urls ul {
        width: 30%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    footer .icon-urls li {
        margin: 1rem 2rem;
    }
    footer ul {
        list-style: none;
        line-height: 2;
    }
    footer a {
        text-decoration: none;
        color: rgba(255, 255, 255, .5);
    }
        footer li a i {
            font-size: 3rem;
        }
    footer a:hover {
        text-decoration: underline;
        color:rgba(255, 255, 255, 1);
    }



.on {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.hide {
    filter: opacity(0%);
    transition: filter 800ms ease;
    display: none;
}
.hide-filtered {
    filter: opacity(0%);
    transition: filter 800ms ease;
}






/* Style for LightBox Gallery */

.gallery-box-container {
    background-color: rgba(0, 0, 0, 0.911);
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    left: 0; top: 0;
    z-index: 10;
}

.images {
    background-color: #000;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 11;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-color: #ccc #777;
    scrollbar-width: thin;
}

    .images .thumbnails {
        height: 100px;
        margin: 10px 5px 10px 5px;
        box-shadow: none;
        transition: box-shadow 150ms ease-in, opacity 200ms ease-in;
        cursor: pointer;
        opacity: .3;
    }
    .images .thumbnails:hover {
        opacity: 1;
        box-shadow: 0 0 10px rgba(255, 255, 255, .4);
        transition: box-shadow 150ms ease-in, opacity 200ms ease-in;
    }
    .images .thumbnails.active {
        box-shadow: 0 0 10px rgba(255, 255, 255, .8);
        opacity: 1;
    }

.images .faded-div {
    height: 120px;
    width: 70px;
    position: fixed;
    top: 0;
    z-index: 16;
}
.faded-div.left {
    left: 0;
    background:  linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 90%);
}
.faded-div.right {
    right: 0;
    background:  linear-gradient(270deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0) 90%);
}

.display-pic-area {
    /* background-color: rgba(0, 0, 0, .8); */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
}
.display-pic-area figure{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 50px;
    align-self: flex-end;
    text-indent: 0;
}
.display-pic-area figure img {
    height: 680px;
}
.display-pic-area figure video {
    height: 680px;
    position: relative;
    opacity: 1;
    box-shadow: none;
    transition: none;
    margin: 0;
}
    .display-pic-area figure figcaption{
        background-color: #1a1a1a;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        color: #fff;
        text-align: center;
        padding: 10px
    }

    .arrows {
        text-indent: 0;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 38px;
        display: none;
        width: 85px;
        padding: 5px;
        border-radius: 50%;
        box-shadow: none;
        position: absolute;
        top: 50%;
        text-align: center;
        transition: background-color 400ms ease, bos-shadow 400ms ease;
        z-index:13;
    }
        .next {
            right: 120px; 
        }
        .last {
            right: 20px;
        }
        .prev {
            left: 120px; 
        }
        .first {
            left: 20px
        }
        .arrows:hover {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0 0 20px #000;
            cursor: pointer;
            transition: background-color 400ms ease, bos-shadow 400ms ease;
        }

.close {
    text-indent: 0;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: bolder;
    width: 60px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: none;
    position: fixed;
    top: 40px;
    right: 60px;
    text-align: center;
    transition: background-color 400ms ease, bos-shadow 400ms ease;
    z-index:13;
}
.close:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px #000;
    cursor: pointer;
    transition: background-color 400ms ease, bos-shadow 400ms ease;
}

/* Video */
.controlsOverlay, .stacktem, .pip-icon, .pip-expanded, .pip-small, .pip.explainer {
    display: none;
}